---
---

@import "{{ site.theme }}";

div.radial-gradient {
  position: absolute;
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 30;
  inset: 0;
  pointer-events: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body {
  background-color: #0f172a;
  color: #e2e8f0;
  margin: 0px;
  display: flex;
  position: relative;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px;
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
strong,
header > p,
li > b,
dt,
dl > dt > span.experience-summary {
  color: #e2e8f0;
}

h2 > a {
  font-weight: normal;
}

dt.experience-title {
  font-size: 1rem;
  margin-bottom: 30px;
  font-weight: normal;
}

dl {
  margin: 0px;
}

dt {
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 1rem;
}

dd {
  margin-inline-start: 0px;
  color: #94a3b8;
  font-size: 0.9rem;
}

ul {
  padding-inline-start: 17px;
  color: #e2e8f0;
  margin: 10px 0 60px 0;
}

hr {
  margin: 20px 0;
}

a:hover,
a:focus {
  color: ghostwhite;
  font-weight: inherit;
}

p {
  font-size: 0.9rem;
  line-height: 1.6rem;
  color: #94a3b8;
}

hr {
  background: #5eead4;
}

table {
  color: #5eead4;
}

div.social-info {
  display: flex;
  flex-direction: column;
}

div.social-icon {
  display: flex;
  align-items: center;
  padding: 4px 0;
  a {
    padding-left: 8px;
  }
}

div.wrapper {
  display: flex;
  flex: 1;
  margin: 0 15%;
  gap: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  align-items: center;
  position: sticky;
  height: max-content;
  max-height: 100vh;
  top: 0;
  width: auto;
  padding: 80px 0 10px 0;
  h1 {
    div.title {
      font-size: initial;
      padding-top: 10px;
    }
  }
}

img {
  height: 270px;
  width: 270px;
}

main#content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 80px 0px;
  min-width: 0%;
}

section {
  width: 100%;
  padding: 0px;
  border: none;
  margin-bottom: 60px;
}

section > h1 {
  background-color: #134e4a;
  padding: 10px;
  margin-left: -10px;
  border-radius: 15px;
  font-weight: normal;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.2rem;
}

tr {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-wrap: wrap;
}

td {
  border-bottom: none;
  color: rgb(94, 234, 212);
  background-color: rgba(45, 212, 191, 0.1);
  border-radius: 25px;
  margin: 0 10px 10px 0;
  align-self: flex-start;
}

footer {
  position: relative;
  bottom: 0;
  padding-bottom: 10px;
  p {
    font-size: 0.875rem;
    margin: 0px;
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  div.wrapper {
    margin: 0 6%;
  }
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    flex-direction: column;
    margin: 0;
    width: auto;
  }

  main#content {
    padding: 0px 25px;
  }

  header {
    padding: 25px 0 0 0;
    top: auto;
    max-height: fit-content;
  }

  td {
    margin: 5px 10px 0 0;
  }

  ul {
    padding-left: 2px;
  }

  section {
    margin-bottom: 20px;
  }

  img {
    height: 180px;
    width: 180px;
  }

  section#experience > dl > dd:not(:last-child) {
    margin-bottom: 30px;
  }
}
