<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
        
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    
  {% seo %}
    {% include head-custom.html %}
    <title>{{ site.name }}</title>
      <meta
        name="description"
        content="{{ site.name }} is a software engineer who builds accessible, responsive products and digital experiences for the web."
      />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Saloni Oswal" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="{{ site.name }} is a software engineer who builds accessible, inclusive products and digital experiences for the web."
    />
    <meta property="og:url" content="https://saloni-oswal.github.io/" />
  </head>
  <body>
    <div class="radial-gradient">
    </div>
    <div class="wrapper">
      <header>
        <h1>
          <a href="{{ "/" | absolute_url }}">{{ site.name | default: site.github.repository_name }}</a>
          <div class="title">{{ site.position }}</div>
        </h1>
        
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" oncontextmenu="return false;"/>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <main id="content">
          {{ content }}

        <footer>
          <p>Built and maintained by <a href="{{ site.github.owner_url }}">yours truly.</a></p>
          <div><small>Hosted on GitHub Pages</small></div>
        </footer>
      </main>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
